/* https://images.axios.com/w8vC3nToCsPiYAWWXn4vtrIVR5w=/2019/08/13/1565716139469.gif */
/* "https://wallpapercave.com/wp/wp3284839.gif */
body {
  background-image: url("https://cf.ltkcdn.net/widgets/gif2_stars.gif");
  background-size: cover;
  height: 100vh;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.6665%; 
  grid-template-rows: 25% 25% 25% 25%;
}
/* .el50 {
  background: lightgreen;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1
} */
/* .odd { 
  background: red;
} */
.shape {
  transition: transform 4s 500ms, background-color 3s ease-in 500ms, border-radius 4s 500ms, box-shadow 6s;
  /* border-radius: 50%;
  box-shadow: 1px 1px 3px 3px white;
  transform: scale(2); */
}

/* .circle {
  
  background-color: red;
} */
.animate {
  border-radius: 50%;
  box-shadow: 1px 1px 3px 3px white;
  transform: scale(2);
}


.checker {
  /* border-radius: 0; */
  background-color:  rgb(255, 255, 255);
  transform: rotateZ(360deg) scale(2);
  opacity: .3;
  box-shadow: none;
}




.el1 {

  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}
.el2 {
 
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}
.el3 {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}
.el4 {

  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}
.el5 {
  opacity: .4;
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}
.el6 {

  grid-column-start: 6;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}
.el7 {

  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}
.el8 {

  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}
.el9 {

  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}
.el10 {

  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}
.el11 {

  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}
.el12 {

  grid-column-start: 6;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}
.el13 {

  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}
.el14 {

  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}
.el15 {

  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}
.el16 {

  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}
.el17 {
  
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}
.el18 {
  
  grid-column-start: 6;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}
.el19 {
  
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
}
.el20 {
  
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
}


/* 

@media  (max-width: 1106px) {
  body {
    background-color: lightblue;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    grid-template-rows: 25% 25% 25% 25%;
  }
}



@media  (max-width: 876px) {
  body {
    background-color: lightgreen;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: 25% 25% 25% 25%;
  }
}

@media  (max-width: 686px) {
  body {
    background-color: lightpink;
    grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.6665%; 
    grid-template-rows: 16.666% 16.666% 16.666% 16.666% 16.666% 16.6665%;
  }
  .el1 {
    
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }
  .el2 {
    
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }
  .el3 {
    
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }
  .el4 {
    
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }
  .el5 {
    
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }
  .el6 {
    
    grid-column-start: 6;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }
  .el7 {
    
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  .el8 {
    
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  .el9 {
    
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  .el10 {
    
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  .el11 {
    
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  .el12 {
    
    grid-column-start: 6;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  .el13 {
    
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  .el14 {
    
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  .el15 {
    
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  .el16 {
    
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  .el17 {
    
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  .el18 {
    
    grid-column-start: 6;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  .el19{
    
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  .el20 {
    
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  .el21 {
    
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  .el22 {
    
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  .el23 {
    
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  .el24 {
    
    grid-column-start: 6;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  .el25 {
    
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  .el26 {
    
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  .el27 {
    
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  .el28 {
    
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  .el29 {
    
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  .el30 {
    
    grid-column-start: 6;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  .el31 {
    
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
  .el32 {
    
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
  .el33 {
    
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
  .el34 {
    
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
  .el35 {
    
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
  .el36 {
    
    grid-column-start: 6;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
}

@media  (max-width: 539px) {
  body {
    background-color: lightyellow;
    grid-template-columns:  20% 20% 20% 20% 20%; 
    grid-template-rows: 16.666% 16.666% 16.666% 16.666% 16.666% 16.6665%;
  }
}

@media  (max-width: 385px) {
  body {
    background-color: lightcoral;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 14.285% 14.285% 14.285% 14.285% 14.285% 14.285% 14.285%;
  }
}

@media  (max-width: 283px) {
  body {
    background-color: lightslategray;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  }
}

@media  (max-width: 260px) {
  body {
    background-color: lightseagreen;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;
  }
}

@media  (max-width: 220px) {
  body {
    background-color: lightgoldenrodyellow;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%
  }
}

@media  (max-width: 200px) {
  body {
    background-color: lightcyan;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 9.0909%  9.0909%  9.0909%  9.0909%  9.0909%  9.0909%  9.0909%  9.0909%  9.0909%  9.0909%  9.0909%;
 }
}

@media  (max-width: 190px) {
  body {
    background-color: lightgreen;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333%;
 }
}

@media  (max-width: 180px) {
  body {
    background-color: lightcyan;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 7.692% 7.692% 7.692% 7.692% 7.692% 7.692% 7.692% 7.692% 7.692% 7.692% 7.692% 7.692% 7.692%
 }
}

@media  (max-width: 179px) {
  body {
    background-color: lightskyblue;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428%;
 }
}

@media  (max-width: 170px) {
  body {
    background-color: lightsalmon;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows:  6.666% 6.666% 6.666% 6.666% 6.666% 6.666% 6.666% 6.666% 6.666% 6.666% 6.666% 6.666% 6.666% 6.666% 6.666%;
   }
}

@media  (max-width: 165px) {
  body {
    background-color: lightcyan;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows:  6.25 6.25 6.25 6.25 6.25 6.25 6.25 6.25 6.25 6.25 6.25 6.25 6.25 6.25 6.25 6.25;
   }
} */

.left-bar {
  width: 87vw;
  height: 67vh;
  position: absolute;
  top: 35vh;
  left: 0;
  transform: translateX(-100vw);
  transition: transform 1s ease-in 4.5s;
}

.left-bar-2 {
  width: 82vw;
  height: 67vh;
  position: absolute;
  top: 34.33vh;
  left: 0;
  transform: translateX(-100vw);
  transition: transform 1s ease-in 4.5s;
}

.left-bar-3 {
  width: 83vw;
  height: 67vh;
  position: absolute;
  top: 34.15vh;
  left: 0;
  transform: translateX(-100vw);
  transition: transform 1s ease-in 4.5s;
}

.left-bar-4 {
  width: 85vw;
  height: 67vh;
  position: absolute;
  top: 34.8vh;
  left: 0;
  transform: translateX(-100vw);
  transition: transform 1s ease-in 4.5s;
}

@media  (max-width: 449px) {
  .left-bar {
    width: 87vw;
    height: 67vh;
    position: absolute;
    top: 10vh;
    left: 0;
    transform: translateX(-100vw);
    transition: transform 1s ease-in 4.5s;
  }
  
  .left-bar-2 {
    width: 82vw;
    height: 67vh;
    position: absolute;
    top: 10.33vh;
    left: 0;
    transform: translateX(-100vw);
    transition: transform 1s ease-in 4.5s;
  }
  
  .left-bar-3 {
    width: 83vw;
    height: 67vh;
    position: absolute;
    top: 10.15vh;
    left: 0;
    transform: translateX(-100vw);
    transition: transform 1s ease-in 4.5s;
  }
  
  .left-bar-4 {
    width: 85vw;
    height: 67vh;
    position: absolute;
    top: 10.8vh;
    left: 0;
    transform: translateX(-100vw);
    transition: transform 1s ease-in 4.5s;
  }
}



.left-bar-open {
  transform-origin: left center;
  transform: translateX(0) rotateZ(-12deg) rotateX(80deg);
  border-radius: 50%;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  border-left:  20px solid white;
  box-shadow: 10px 10px white;
  z-index: 10;
}

.left-bar-2-open {
  transform-origin: left center;
  transform: translateX(0) rotateZ(-12deg) rotateX(80deg);
  border-radius: 50%;
  border-right: 20px solid rgb(136, 246, 250);
  border-bottom: 20px solid rgb(136, 246, 250);
  border-left: 20px solid rgb(136, 246, 250);
  box-shadow: 10px 10px rgb(136, 246, 250);
  z-index: 10;
}

.left-bar-3-open {
  transform-origin: left center;
  transform: translateX(0) rotateZ(-12deg) rotateX(80deg);
  border-radius: 50%;
  border-right: 20px solid rgb(0, 118, 244);
  border-bottom: 20px solid  rgb(0, 118, 244);
  border-left: 20px solid  rgb(0, 118, 244);
  box-shadow: 10px 10px rgb(0, 118, 244);
  z-index: 10;
}

.left-bar-4-open {
  transform-origin: left center;
  transform: translateX(0) rotateZ(-12deg) rotateX(80deg);
  border-radius: 50%;
  border-right: 20px solid rgb(116, 47, 255);
  border-bottom: 20px solid  rgb(116, 47, 255);
  border-left: 20px solid  rgb(116, 47, 255);
  box-shadow: 10px 10px rgb(116, 47, 255);
  z-index: 10;
}

@media  (max-width: 200px) {
  .sphere {
    background: black;
    position: absolute;
    top: 28vh;
    left: 26vw;
    height: 23vh;
    width: 42vw;
  }

.left-bar-open {
  transform-origin: left center;
  transform: translateX(0) rotateZ(-12deg) rotateX(85deg);
  border-radius: 50%;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  border-left:  20px solid white;
  box-shadow: 10px 10px white;
  z-index: 10;
}

.left-bar-2-open {
  transform-origin: left center;
  transform: translateX(0) rotateZ(-12deg) rotateX(85deg);
  border-radius: 50%;
  border-right: 20px solid rgb(136, 246, 250);
  border-bottom: 20px solid rgb(136, 246, 250);
  border-left: 20px solid rgb(136, 246, 250);
  box-shadow: 10px 10px rgb(136, 246, 250);
  z-index: 10;
}

.left-bar-3-open {
  transform-origin: left center;
  transform: translateX(0) rotateZ(-12deg) rotateX(85deg);
  border-radius: 50%;
  border-right: 20px solid rgb(0, 118, 244);
  border-bottom: 20px solid  rgb(0, 118, 244);
  border-left: 20px solid  rgb(0, 118, 244);
  box-shadow: 10px 10px rgb(0, 118, 244);
  z-index: 10;
}

.left-bar-4-open {
  transform-origin: left center;
  transform: translateX(0) rotateZ(-12deg) rotateX(85deg);
  border-radius: 50%;
  border-right: 20px solid rgb(116, 47, 255);
  border-bottom: 20px solid  rgb(116, 47, 255);
  border-left: 20px solid  rgb(116, 47, 255);
  box-shadow: 10px 10px rgb(116, 47, 255);
  z-index: 10;
}
}

.sphere {
  background: maroon;
  width: 30vw;
  height: 50vh;
  border-radius: 50%;
  position: absolute;
  top: 25vh;
  left: 26vw;
  transform: translateY(-100vh) rotateZ(-12deg);
  box-shadow: inset 1px 0 20px 20px rgb(70, 0, 0);
  transition: transform 1.5s ease-in 4.5s;
}
 
.sphere-fall {
  transform: translateY(0);
}

@media  (min-width: 0px) {
  .sphere {
    background: black;
    position: absolute;
    top: 28vh;
    left: 26vw;
    height: 23vh;
    width: 42vw;
  }

}

@media  (min-width: 200px) {
  .sphere {
    background: black;
    position: absolute;
    top: 28vh;
    left: 26vw;
    height: 30vh;
    width: 38vw;
  }

}

@media  (min-width: 450px) {
  .sphere {
    background: black;
    position: absolute;
    top: 40vh;
    left: 26vw;
    height: 40vh;
    width: 33vw;
  }
}


@media  (min-width: 539px) {
  .sphere {
    background: black;
    position: absolute;
    top: 38vh;
    left: 26vw;
    height: 40vh;
    width: 33vw;
  }
}

@media  (min-width: 850px) {
  .sphere {
    background: black;
    position: absolute;
    top: 35vh;
    left: 26vw;
  }
}

@media  (min-width: 900px) {
  .sphere {
    background: black;
    position: absolute;
    top: 33vh;
    left: 26vw;
  }
}